.pathText {
  padding: 2px 5px;
  border-radius: 2px;
  background-color: #88888822;
  margin-right: 10px;
  text-align: right;
}

.mainButtonGroup {
  padding-right: 5px;
  margin-right: 5px;
  border-left: 1px solid #88888888;
}

.tabsContainer {
}

.tabBar {
  padding-bottom: 4px;
  border-bottom: 1px solid #88888844;
}

.selectedTabButton {
  font-weight: bold;
}

.tabButtonText {
  margin-left: 8px;
}
