.container {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
}

.actionFinder {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #88888844;
  padding: 8px;
  overflow: auto;
  border-radius: 2px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.keyHintRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.keyHintContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftMargin {
  margin-left: 7px;
}

.keyHint {
  font-size: 0.8em;
  margin-right: 5px;
  padding: 1px 3px;
  border-radius: 2px;
  background-color: #88888822;
  border: 1px solid #88888844;
}

.keyHintText {
  font-size: 0.85em;
}

.disabledKeyHint {
  opacity: 0.5;
}
